
:root{
        --hover-color: gray;
        --font-family: 'Nunito+Sans', sans-serif; 
        --font-size-xsm: 1.2rem;
        --font-size-sm: 1.6rem;
        --font-size-md: 2.4rem;
        --font-size-lg: 3rem;
        --font-size-xlg: 4rem;
        --gap: 2rem;
        --margin-sm: 2rem;
        --margin-md: 3rem;
        --item-min-height-sm: 20rem;
        --item-min-height-md: 30rem;
 }
/* the * is a universal code that affects all style on the page */
/* the imported google font must also be imputed in the CSS */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
 }

html{
    font-size: 63.5%;
}

/* top */
/* ----------------------------------------------------------------------------------- */

body{
    background-color: #aeaeae;
}

a{
    display: block;
    padding: 8px;
}

a:active, a:visited{
    color: white;
    text-decoration: none;
}

/* the background-color will ride across the whole nav bar */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555358;
}

li{
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    color: white;
    font-size: var(--font-size-xsm);
}

/* changes the hover links on the nav bar */
li a:hover {
    background-color: #2a87ce;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* center */
/* ---------------------------------------------------------------------------- */
.project-sections{
    padding-top: 14rem;
}

.greeting h1{
    text-align: center;
    font-size: var(--font-size-xlg);
}

.name{
    text-align: center;
    font-size: var(--font-size-md);
    padding-top: 1.5rem;
}

.second-section{
    background-color: #ffffff ;
    padding-bottom: 12rem;
}

.ps-header{
    margin-top: 14rem;
    margin-bottom: 0.5rem;
    padding-top: 8rem;
    padding-bottom: 0.5rem;
    font-size: var(--font-size-lg);
}

.ps-subheader{
    padding-top: 0.4rem;
    font-size: var(--font-size-sm);
}

.ps-header, .ps-subheader{
    text-align: center;
}

/* Bottom */
/* ---------------------------------------------------------------------------- */
.contact{
    padding-top: 10rem;
    padding-bottom: 3rem;
    text-align: center;
}

.contact-header{
    font-size: var(--font-size-sm);
}

.contact-links{
    padding-top: 3rem;
}

.github-contact{
    color: black;
}

@media screen and (max-width: 600px){
    body{
        background-color: #aeaeae;
    }

    .center-list{
        
    }
    
}
