@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
        --hover-color: gray;
        --font-family: 'Nunito+Sans', sans-serif; 
        --font-size-xsm: 1.2rem;
        --font-size-sm: 1.6rem;
        --font-size-md: 2.4rem;
        --font-size-lg: 3rem;
        --font-size-xlg: 4rem;
        --gap: 2rem;
        --margin-sm: 2rem;
        --margin-md: 3rem;
        --item-min-height-sm: 20rem;
        --item-min-height-md: 30rem;
 }

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

html{
    font-size: 63.5%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

li{
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.navbar{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 10rem;
    background-color: gray;
    font-size: var(--font-size-sm);
}

.nav-list {
    width: 25%;
}

/* .navbar a:hover{
    background-color: lightgrey;
    color: black;
} */

@media screen and (max-width: 900px){
    .body{
        background-color: whitesmoke;
    }
}
